@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}


.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}


.home-content {
    max-width: 600px;
}

.home-content h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    color: #fff;
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 span {
    color: #0ef;
}

.home-img img {
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 100px 10%;
    background: #1f242d;
}

.about-img img {
    width: 350px;
}

.heading {
    text-align: center;
    font-size: 45px;
}

.heading span {
    text-align: left;
    color: #0ef;
}

.about-content h2 {
    text-align: left;
    font-size: 45px;
    color:#fff
}

.about-content h3 {
    font-size: 26px;
    margin: 10px 0;
    color:#fff;
}

.about-content p {
    font-size: 16px;
    color: #ccc;
    margin: 20px 0 30px;
}


.skills {
    padding: 100px 10%;
}

.skills h2 {
    color: #fff;
}

.skills-container {
    max-width: 600px;
    margin: auto;
}


.skill-box {
    margin-bottom: 25px;
}

.skill-box h3 {
    margin-bottom: 8px;
    color: #fff;
}

.skill-box h3 {
    margin-bottom: 8px;
    color: #fff;
}

.skill-box h3 {
    margin-bottom: 8px;
    color: #fff;
}

.progress {
    width: 100%;
    height: 10px;
    background: #323946;
    border-radius: 10px;
}

.progress span {
    display: block;
    height: 100%;
    background: #0ef;
    border-radius: 10px;
    animation: grow 2s;
}


.portfolio {
    padding: 100px 10%;
    background: #1f242d;
}

.portfolio h2 {
    color: #fff;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    margin-top: 40px;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.portfolio-box img {
    width: 100%;
    transition: .5s;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transform: translateY(100%);
    transition: .5s;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 28px;
}

.portfolio-layer p {
    font-size: 14px;
    margin: 10px 0 15px;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    color: #1f242d;
    font-size: 20px;
}


.contact {
    padding: 100px 10%;
}

.contact {
    color: #fff;
}

.contact form {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.input-box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.input-box input,
.contact textarea {
    width: 100%;
    padding: 15px;
    background: #323946;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 15px;
}

.contact textarea {
    resize: none;
}


@keyframes grow {
    from { width: 0; }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-img img {
        width: 300px;
        margin-top: 30px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .input-box {
        flex-direction: column;
    }
}


.footer {
    width: 100%;
    background: #323946;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    text-align: center;
}

.footer-text p {
    color: #fff;
    font-size: 14px;
}

.footer-icon a {
    display: inline-flex;
    justify-content: right;
    align-items: right;
    padding: 8px;
    background: #0ef;
    border-radius: 8px;
    transition: .3s;
}

.footer-icon a i {
    font-size: 20px;
    color: #1f242d;
}

.footer-icon a:hover {
    box-shadow: 0 0 15px #0ef;
}

/* Responsive */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: #0ef;
    color: #1f242d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    z-index: 99999;

    opacity: 1; 
    pointer-events: auto; 
}

.back-to-top:hover {
    box-shadow: 0 0 15px #0ef;
    transform: translateY(-3px);
}

html {
    scroll-behavior: smooth;
}